In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
from os.path import abspath

In [2]:
import findspark
findspark.init('/opt/apache-spark/')

## Setup

In [3]:
warehouse_locarion = abspath('../base/spark_warehouse')

In [4]:
spark = (
    SparkSession
    .builder
    .config("spark.sql.warehouse.dir", warehouse_locarion)
    .enableHiveSupport()
    .getOrCreate()
)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/apache-spark/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/11/05 20:20:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
df_titles = spark.read.format('csv').load('base/title_basics.tsv', header=True, sep='\t')

## database e catalog

In [4]:
spark.catalog

In [5]:
spark.catalog.clearCache()

In [6]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/spark-warehouse')]

In [7]:
spark.catalog.listFunctions()

[Function(name='!', description=None, className='org.apache.spark.sql.catalyst.expressions.Not', isTemporary=True),
 Function(name='%', description=None, className='org.apache.spark.sql.catalyst.expressions.Remainder', isTemporary=True),
 Function(name='&', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseAnd', isTemporary=True),
 Function(name='*', description=None, className='org.apache.spark.sql.catalyst.expressions.Multiply', isTemporary=True),
 Function(name='+', description=None, className='org.apache.spark.sql.catalyst.expressions.Add', isTemporary=True),
 Function(name='-', description=None, className='org.apache.spark.sql.catalyst.expressions.Subtract', isTemporary=True),
 Function(name='/', description=None, className='org.apache.spark.sql.catalyst.expressions.Divide', isTemporary=True),
 Function(name='<', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThan', isTemporary=True),
 Function(name='<=', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThanOrEqual', isTemporary=True),
 Function(name='<=>', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualNullSafe', isTemporary=True),
 Function(name='=', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='==', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='>', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThan', isTemporary=True),
 Function(name='>=', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThanOrEqual', isTemporary=True),
 Function(name='^', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseXor', isTemporary=True),
 Function(name='abs', description=None, className='org.apache.spark.sql.catalyst.expressions.Abs', isTemporary=True),
 Function(name='acos', description=None, className='org.apache.spark.sql.catalyst.expressions.Acos', isTemporary=True),
 Function(name='acosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Acosh', isTemporary=True),
 Function(name='add_months', description=None, className='org.apache.spark.sql.catalyst.expressions.AddMonths', isTemporary=True),
 Function(name='aggregate', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayAggregate', isTemporary=True),
 Function(name='and', description=None, className='org.apache.spark.sql.catalyst.expressions.And', isTemporary=True),
 Function(name='any', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='approx_count_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.HyperLogLogPlusPlus', isTemporary=True),
 Function(name='approx_percentile', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.ApproximatePercentile', isTemporary=True),
 Function(name='array', description=None, className='org.apache.spark.sql.catalyst.expressions.CreateArray', isTemporary=True),
 Function(name='array_contains', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayContains', isTemporary=True),
 Function(name='array_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayDistinct', isTemporary=True),
 Function(name='array_except', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExcept', isTemporary=True),
 Function(name='array_intersect', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayIntersect', isTemporary=True),
 Function(name='array_join', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayJoin', isTemporary=True),
 Function(name='array_max', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMax', isTemporary=True),
 Function(name='array_min', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMin', isTemporary=True),
 Function(name='array_position', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayPosition', isTemporary=True),
 Function(name='array_remove', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRemove', isTemporary=True),
 Function(name='array_repeat', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRepeat', isTemporary=True),
 Function(name='array_sort', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraySort', isTemporary=True),
 Function(name='array_union', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayUnion', isTemporary=True),
 Function(name='arrays_overlap', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysOverlap', isTemporary=True),
 Function(name='arrays_zip', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysZip', isTemporary=True),
 Function(name='ascii', description=None, className='org.apache.spark.sql.catalyst.expressions.Ascii', isTemporary=True),
 Function(name='asin', description=None, className='org.apache.spark.sql.catalyst.expressions.Asin', isTemporary=True),
 Function(name='asinh', description=None, className='org.apache.spark.sql.catalyst.expressions.Asinh', isTemporary=True),
 Function(name='assert_true', description=None, className='org.apache.spark.sql.catalyst.expressions.AssertTrue', isTemporary=True),
 Function(name='atan', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan', isTemporary=True),
 Function(name='atan2', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan2', isTemporary=True),
 Function(name='atanh', description=None, className='org.apache.spark.sql.catalyst.expressions.Atanh', isTemporary=True),
 Function(name='avg', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Average', isTemporary=True),
 Function(name='base64', description=None, className='org.apache.spark.sql.catalyst.expressions.Base64', isTemporary=True),
 Function(name='bigint', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bin', description=None, className='org.apache.spark.sql.catalyst.expressions.Bin', isTemporary=True),
 Function(name='binary', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bit_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitAndAgg', isTemporary=True),
 Function(name='bit_count', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseCount', isTemporary=True),
 Function(name='bit_get', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True),
 Function(name='bit_length', description=None, className='org.apache.spark.sql.catalyst.expressions.BitLength', isTemporary=True),
 Function(name='bit_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitOrAgg', isTemporary=True),
 Function(name='bit_xor', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitXorAgg', isTemporary=True),
 Function(name='bool_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='bool_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='boolean', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bround', description=None, className='org.apache.spark.sql.catalyst.expressions.BRound', isTemporary=True),
 Function(name='btrim', description=None, className='org.apache.spark.sql.catalyst.expressions.StringTrimBoth', isTemporary=True),
 Function(name='cardinality', description=None, className='org.apache.spark.sql.catalyst.expressions.Size', isTemporary=True),
 Function(name='cast', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='cbrt', description=None, className='org.apache.spark.sql.catalyst.expressions.Cbrt', isTemporary=True),
 Function(name='ceil', description=None, className='org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name='ceiling', description=None, className='org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name='char', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='char_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='character_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='chr', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='coalesce', description=None, className='org.apache.spark.sql.catalyst.expressions.Coalesce', isTemporary=True),
 Function(name='collect_list', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True),
 Function(name='collect_set', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectSet', isTemporary=True),
 Function(name='concat', description=None, className='org.apache.spark.sql.catalyst.expressions.Concat', isTemporary=True),
 Function(name='concat_ws', description=None, className='org.apache.spark.sql.catalyst.expressions.ConcatWs', isTemporary=True),
 Function(name='conv', description=None, className='org.apache.spark.sql.catalyst.expressions.Conv', isTemporary=True),
 Function(name='corr', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Corr', isTemporary=True),
 Function(name='cos', description=None, className='org.apache.spark.sql.catalyst.expressions.Cos', isTemporary=True),
 Function(name='cosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Cosh', isTemporary=True),
 Function(name='cot', description=None, className='org.apache.spark.sql.catalyst.expressions.Cot', isTemporary=True),
 Function(name='count', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Count', isTemporary=True),
 Function(name='count_if', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountIf', isTemporary=True),
 Function(name='count_min_sketch', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountMinSketchAgg', isTemporary=True),
 Function(name='covar_pop', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovPopulation', isTemporary=True),
 Function(name='covar_samp', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovSample', isTemporary=True),
 Function(name='crc32', description=None, className='org.apache.spark.sql.catalyst.expressions.Crc32', isTemporary=True),
 Function(name='cume_dist', description=None, className='org.apache.spark.sql.catalyst.expressions.CumeDist', isTemporary=True),
 Function(name='current_catalog', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentCatalog', isTemporary=True),
 Function(name='current_database', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDatabase', isTemporary=True),
 Function(name='current_date', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDate', isTemporary=True),
 Function(name='current_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimestamp', isTemporary=True),
 Function(name='current_timezone', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimeZone', isTemporary=True),
 Function(name='current_user', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentUser', isTemporary=True),
 Function(name='date', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='date_add', description=None, className='org.apache.spark.sql.catalyst.expressions.DateAdd', isTemporary=True),
 Function(name='date_format', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFormatClass', isTemporary=True),
 Function(name='date_from_unix_date', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFromUnixDate', isTemporary=True),
 Function(name='date_part', description=None, className='org.apache.spark.sql.catalyst.expressions.DatePart', isTemporary=True),
 Function(name='date_sub', description=None, className='org.apache.spark.sql.catalyst.expressions.DateSub', isTemporary=True),
 Function(name='date_trunc', description=None, className='org.apache.spark.sql.catalyst.expressions.TruncTimestamp', isTemporary=True),
 Function(name='datediff', description=None, className='org.apache.spark.sql.catalyst.expressions.DateDiff', isTemporary=True),
 Function(name='day', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofmonth', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofweek', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfWeek', isTemporary=True),
 Function(name='dayofyear', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfYear', isTemporary=True),
 Function(name='decimal', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='decode', description=None, className='org.apache.spark.sql.catalyst.expressions.Decode', isTemporary=True),
 Function(name='degrees', description=None, className='org.apache.spark.sql.catalyst.expressions.ToDegrees', isTemporary=True),
 Function(name='dense_rank', description=None, className='org.apache.spark.sql.catalyst.expressions.DenseRank', isTemporary=True),
 Function(name='div', description=None, className='org.apache.spark.sql.catalyst.expressions.IntegralDivide', isTemporary=True),
 Function(name='double', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='e', description=None, className='org.apache.spark.sql.catalyst.expressions.EulerNumber', isTemporary=True),
 Function(name='element_at', description=None, className='org.apache.spark.sql.catalyst.expressions.ElementAt', isTemporary=True),
 Function(name='elt', description=None, className='org.apache.spark.sql.catalyst.expressions.Elt', isTemporary=True),
 Function(name='encode', description=None, className='org.apache.spark.sql.catalyst.expressions.Encode', isTemporary=True),
 Function(name='every', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='exists', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExists', isTemporary=True),
 Function(name='exp', description=None, className='org.apache.spark.sql.catalyst.expressions.Exp', isTemporary=True),
 Function(name='explode', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='explode_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='expm1', description=None, className='org.apache.spark.sql.catalyst.expressions.Expm1', isTemporary=True),
 Function(name='extract', description=None, className='org.apache.spark.sql.catalyst.expressions.Extract', isTemporary=True),
 Function(name='factorial', description=None, className='org.apache.spark.sql.catalyst.expressions.Factorial', isTemporary=True),
 Function(name='filter', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayFilter', isTemporary=True),
 Function(name='find_in_set', description=None, className='org.apache.spark.sql.catalyst.expressions.FindInSet', isTemporary=True),
 Function(name='first', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='first_value', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='flatten', description=None, className='org.apache.spark.sql.catalyst.expressions.Flatten', isTemporary=True),
 Function(name='float', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='floor', description=None, className='org.apache.spark.sql.catalyst.expressions.Floor', isTemporary=True),
 Function(name='forall', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayForAll', isTemporary=True),
 Function(name='format_number', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatNumber', isTemporary=True),
 Function(name='format_string', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatString', isTemporary=True),
 Function(name='from_csv', description=None, className='org.apache.spark.sql.catalyst.expressions.CsvToStructs', isTemporary=True),
 Function(name='from_json', description=None, className='org.apache.spark.sql.catalyst.expressions.JsonToStructs', isTemporary=True),
 Function(name='from_unixtime', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUnixTime', isTemporary=True),
 Function(name='from_utc_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUTCTimestamp', isTemporary=True),
 Function(name='get_json_object', description=None, className='org.apache.spark.sql.catalyst.expressions.GetJsonObject', isTemporary=True),
 Function(name='getbit', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True),
 Function(name='greatest', description=None, className='org.apache.spark.sql.catalyst.expressions.Greatest', isTemporary=True),
 Function(name='grouping', description=None, className='org.apache.spark.sql.catalyst.expressions.Grouping', isTemporary=True),
 Function(name='grouping_id', description=None, className='org.apache.spark.sql.catalyst.expressions.GroupingID', isTemporary=True),
 Function(name='hash', description=None, className='org.apache.spark.sql.catalyst.expressions.Murmur3Hash', isTemporary=True),
 Function(name='hex', description=None, className='org.apache.spark.sql.catalyst.expressions.Hex', isTemporary=True),
 Function(name='hour', description=None, className='org.apache.spark.sql.catalyst.expressions.Hour', isTemporary=True),
 Function(name='hypot', description=None, className='org.apache.spark.sql.catalyst.expressions.Hypot', isTemporary=True),
 Function(name='if', description=None, className='org.apache.spark.sql.catalyst.expressions.If', isTemporary=True),
 Function(name='ifnull', description=None, className='org.apache.spark.sql.catalyst.expressions.IfNull', isTemporary=True),
 Function(name='in', description=None, className='org.apache.spark.sql.catalyst.expressions.In', isTemporary=True),
 Function(name='initcap', description=None, className='org.apache.spark.sql.catalyst.expressions.InitCap', isTemporary=True),
 Function(name='inline', description=None, className='org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name='inline_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name='input_file_block_length', description=None, className='org.apache.spark.sql.catalyst.expressions.InputFileBlockLength', isTemporary=True),

## Tabelas e views

In [17]:
df_titles.limit(5).toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
df_titles_sample = df_titles.sample(fraction=0.1)

### criando menaged tables

In [48]:
df_titles_sample.write.saveAsTable('title_basics_managed')

21/11/05 19:13:34 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

### criando unmanaged tables

In [50]:
df_titles_sample.write.option('path', 'spark_warehouse_unmanaged/').saveAsTable('title_basics_unmanaged')

21/11/05 19:13:46 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

In [54]:
spark.catalog.listTables()

[Table(name='title_basics_managed', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='title_basics_unmanaged', database='default', description=None, tableType='EXTERNAL', isTemporary=False)]

### dropando tabelas

In [ ]:
spark.sql("DROP TABLE title_basics_unmanaged")

## Views

### criando views

In [60]:
df_titles_sample.createOrReplaceTempView('title_basics_view')

In [61]:
spark.catalog.listTables()

[Table(name='title_basics_managed', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='title_basics_unmanaged', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='title_basics_view', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

### deletando views

In [40]:
spark.catalog.dropTempView('title_basics_view')

In [56]:
spark.catalog.listTables()

[Table(name='title_basics_managed', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='title_basics_unmanaged', database='default', description=None, tableType='EXTERNAL', isTemporary=False)]

## Acessando a interface de queries

In [57]:
spark.sql("SHOW TABLES").toPandas()

  namespace               tableName  isTemporary
0   default    title_basics_managed        False
1   default  title_basics_unmanaged        False

In [58]:
spark.sql("select * from title_basics_managed limit 5").toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1895,\N,\N,"News,Short,Sport"
1,tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0,1896,\N,\N,Short
2,tt0000041,short,Bataille de neige,Bataille de neige,0,1897,\N,1,"Comedy,Documentary,Short"
3,tt0000073,short,Effets de mer sur les rochers,Effets de mer sur les rochers,0,1896,\N,\N,"Documentary,Short"
4,tt0000076,short,Exit of Rip and the Dwarf,Exit of Rip and the Dwarf,0,1896,\N,1,"Drama,Short"

In [62]:
spark.sql("select * from title_basics_view limit 5").toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1895,\N,\N,"News,Short,Sport"
1,tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0,1896,\N,\N,Short
2,tt0000041,short,Bataille de neige,Bataille de neige,0,1897,\N,1,"Comedy,Documentary,Short"
3,tt0000073,short,Effets de mer sur les rochers,Effets de mer sur les rochers,0,1896,\N,\N,"Documentary,Short"
4,tt0000076,short,Exit of Rip and the Dwarf,Exit of Rip and the Dwarf,0,1896,\N,1,"Drama,Short"

## Persistindo na memoria

In [8]:
df_titles_sample.limit(5).toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000045,short,Les blanchisseuses,Les blanchisseuses,0,1896,\N,\N,Short
1,tt0000075,short,The Conjuring of a Woman at the House of Rober...,Escamotage d'une dame au thtre Robert Houdin,0,1896,\N,1,"Horror,Short"
2,tt0000107,short,Naval Review at Cherburg,Revue navale Cherbourg,0,1896,\N,\N,"Documentary,Short"
3,tt0000113,short,Rip's Twenty Years' Sleep,Rip's Twenty Years' Sleep,0,1896,\N,0,"Drama,Short"
4,tt0000114,short,French Regiment Going to the Parade,Le rgiment,0,1896,\N,\N,"Documentary,Short"

In [9]:
df_ratings = spark.read.format('csv').load('base/title_ratings.tsv', header=True, sep='\t')

In [10]:
df_ratings.limit(5).toPandas()

      tconst averageRating numVotes
0  tt0000001           5.7     1809
1  tt0000002           6.0      233
2  tt0000003           6.5     1560
3  tt0000004           6.1      152
4  tt0000005           6.2     2383

In [11]:
int_cols = ['startYear', 'endYear', 'runtimeMinutes', 'isAdult']

for c in int_cols:
    df_titles_sample = (
        df_titles_sample
        .withColumn(c, f.col(c).cast('int'))
    )

# limpa string
str_cols = ['primaryTitle', 'originalTitle', 'titleType']

for c in str_cols:
    df_titles_sample = (
        df_titles_sample
        .withColumn(c, f.initcap(f.trim(f.col(c))))
    )

In [12]:
df_join = (
    df_titles_sample
    .replace('\\N', None)
    .withColumn('genres', f.split(f.col('genres'), ','))
    .join(df_ratings, 'tconst', 'left')
)

In [13]:
df_final = (
    df_join
    .withColumn('genres', f.explode(f.col('genres')))
    .groupBy('titleType')
    .pivot('genres')
    .agg(f.round(f.mean('averageRating')))
    .fillna(0)
)

In [15]:
df_final.limit(5).toPandas()

,titleType,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,Tvepisode,7.0,7.0,7.0,7.0,7.0,7.0,8.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,8.0,8.0,8.0
1,Video,6.0,7.0,6.0,7.0,7.0,6.0,6.0,7.0,6.0,...,6.0,7.0,6.0,6.0,7.0,7.0,7.0,5.0,7.0,6.0
2,Videogame,7.0,3.0,7.0,7.0,8.0,7.0,7.0,7.0,7.0,...,0.0,0.0,7.0,7.0,0.0,7.0,0.0,7.0,7.0,6.0
3,Tvminiseries,7.0,5.0,7.0,7.0,7.0,7.0,7.0,8.0,7.0,...,7.0,6.0,7.0,7.0,7.0,7.0,6.0,7.0,7.0,7.0
4,Tvmovie,6.0,0.0,6.0,7.0,7.0,6.0,6.0,7.0,7.0,...,7.0,6.0,6.0,6.0,0.0,7.0,9.0,6.0,7.0,6.0

In [14]:
df_final.explain('formatted')

== Physical Plan ==
HashAggregate (19)
+- Exchange (18)
   +- HashAggregate (17)
      +- * HashAggregate (16)
         +- Exchange (15)
            +- * HashAggregate (14)
               +- Generate (13)
                  +- * Project (12)
                     +- SortMergeJoin LeftOuter (11)
                        :- * Sort (6)
                        :  +- Exchange (5)
                        :     +- * Project (4)
                        :        +- * Filter (3)
                        :           +- * Sample (2)
                        :              +- Scan csv  (1)
                        +- * Sort (10)
                           +- Exchange (9)
                              +- * Filter (8)
                                 +- Scan csv  (7)


(1) Scan csv
Output [3]: [tconst#16, titleType#17, genres#24]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_basics.tsv]
ReadSchema: struct<tconst:string,titleType:string,genres:string>

(2) Sample [codegen id : 1]
Input [3]: [tconst#16, titleType#17, genres#24]
Arguments: 0.0, 0.1, false, -8015863845262638575

(3) Filter [codegen id : 1]
Input [3]: [tconst#16, titleType#17, genres#24]
Condition : ((size(split(CASE WHEN (genres#24 = \N) THEN null ELSE genres#24 END, ,, -1), true) > 0) AND isnotnull(split(CASE WHEN (genres#24 = \N) THEN null ELSE genres#24 END, ,, -1)))

(4) Project [codegen id : 1]
Output [3]: [CASE WHEN (tconst#16 = \N) THEN null ELSE tconst#16 END AS tconst#147, CASE WHEN (initcap(trim(titleType#17, None)) = \N) THEN null ELSE initcap(trim(titleType#17, None)) END AS titleType#148, split(CASE WHEN (genres#24 = \N) THEN null ELSE genres#24 END, ,, -1) AS genres#161]
Input [3]: [tconst#16, titleType#17, genres#24]

(5) Exchange
Input [3]: [tconst#147, titleType#148, genres#161]
Arguments: hashpartitioning(tconst#147, 200), ENSURE_REQUIREMENTS, [id=#273]

(6) Sort [codegen id : 2]
Input [3]: [tconst#147, titleType#148, genres#161]
Arguments: [tconst#147 ASC NULLS FIRST], false, 0

(7) Scan csv
Output [2]: [tconst#59, averageRating#60]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_ratings.tsv]
PushedFilters: [IsNotNull(tconst)]
ReadSchema: struct<tconst:string,averageRating:string>

(8) Filter [codegen id : 3]
Input [2]: [tconst#59, averageRating#60]
Condition : isnotnull(tconst#59)

(9) Exchange
Input [2]: [tconst#59, averageRating#60]
Arguments: hashpartitioning(tconst#59, 200), ENSURE_REQUIREMENTS, [id=#280]

(10) Sort [codegen id : 4]
Input [2]: [tconst#59, averageRating#60]
Arguments: [tconst#59 ASC NULLS FIRST], false, 0

(11) SortMergeJoin
Left keys [1]: [tconst#147]
Right keys [1]: [tconst#59]
Join condition: None

(12) Project [codegen id : 5]
Output [3]: [titleType#148, genres#161, averageRating#60]
Input [5]: [tconst#147, titleType#148, genres#161, tconst#59, averageRating#60]

(13) Generate
Input [3]: [titleType#148, genres#161, averageRating#60]
Arguments: explode(genres#161), [titleType#148, averageRating#60], false, [genres#183]

(14) HashAggregate [codegen id : 6]
Input [3]: [titleType#148, averageRating#60, genres#183]
Keys [2]: [titleType#148, genres#183]
Functions [1]: [partial_avg(cast(averageRating#60 as double))]
Aggregate Attributes [2]: [sum#472, count#473L]
Results [4]: [titleType#148, genres#183, sum#474, count#475L]

(15) Exchange
Input [4]: [titleType#148, genres#183, sum#474, count#475L]
Arguments: hashpartitioning(titleType#148, genres#183, 200), ENSURE_REQUIREMENTS, [id=#292]

(16) HashAggregate [codegen id : 7]
Input [4]: [titleType#148, genres#183, sum#474, count#475L]
Keys [2]: [titleType#148, genres#183]
Functions [1]: [avg(cast(averageRating#60 as double))]
Aggregate Attributes [1]: [avg(cast(averageRating#60 as double))#212]
Results [3]: [titleType#148, genres#183, round(avg(cast(averageRating#60 as double))#212, 0) AS round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214]

(17) HashAggregate
Input [3]: [titleType#148, genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214]
Keys [1]: [titleType#148]
Functions [1]: [partial_pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, Short, Sport, Talk-Show, Thriller, War, Western, 0, 0)]
Aggregate Attributes [28]: [Action#215, Adult#216, Adventure#217, Animation#218, Biography#219, Comedy#220, Crime#221, Documentary#222, Drama#223, Family#224, Fantasy#225, Film-Noir#226, Game-Show#227, History#228, Horror#229, Music#230, Musical#231, Mystery#232, News#233, Reality-TV#234, Romance#235, Sci-Fi#236, Short#237, Sport#238, Talk-Show#239, Thriller#240, War#241, Western#242]
Results [29]: [titleType#148, Action#243, Adult#244, Adventure#245, Animation#246, Biography#247, Comedy#248, Crime#249, Documentary#250, Drama#251, Family#252, Fantasy#253, Film-Noir#254, Game-Show#255, History#256, Horror#257, Music#258, Musical#259, Mystery#260, News#261, Reality-TV#262, Romance#263, Sci-Fi#264, Short#265, Sport#266, Talk-Show#267, Thriller#268, War#269, Western#270]

(18) Exchange
Input [29]: [titleType#148, Action#243, Adult#244, Adventure#245, Animation#246, Biography#247, Comedy#248, Crime#249, Documentary#250, Drama#251, Family#252, Fantasy#253, Film-Noir#254, Game-Show#255, History#256, Horror#257, Music#258, Musical#259, Mystery#260, News#261, Reality-TV#262, Romance#263, Sci-Fi#264, Short#265, Sport#266, Talk-Show#267, Thriller#268, War#269, Western#270]
Arguments: hashpartitioning(titleType#148, 200), ENSURE_REQUIREMENTS, [id=#297]

(19) HashAggregate
Input [29]: [titleType#148, Action#243, Adult#244, Adventure#245, Animation#246, Biography#247, Comedy#248, Crime#249, Documentary#250, Drama#251, Family#252, Fantasy#253, Film-Noir#254, Game-Show#255, History#256, Horror#257, Music#258, Musical#259, Mystery#260, News#261, Reality-TV#262, Romance#263, Sci-Fi#264, Short#265, Sport#266, Talk-Show#267, Thriller#268, War#269, Western#270]
Keys [1]: [titleType#148]
Functions [1]: [pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, Short, Sport, Talk-Show, Thriller, War, Western, 0, 0)]
Aggregate Attributes [1]: [pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271]
Results [29]: [titleType#148, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[0], null), 0.0) AS Action#359, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[1], null), 0.0) AS Adult#360, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[2], null), 0.0) AS Adventure#361, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[3], null), 0.0) AS Animation#362, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[4], null), 0.0) AS Biography#363, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[5], null), 0.0) AS Comedy#364, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[6], null), 0.0) AS Crime#365, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[7], null), 0.0) AS Documentary#366, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[8], null), 0.0) AS Drama#367, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[9], null), 0.0) AS Family#368, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[10], null), 0.0) AS Fantasy#369, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[11], null), 0.0) AS Film-Noir#370, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[12], null), 0.0) AS Game-Show#371, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[13], null), 0.0) AS History#372, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[14], null), 0.0) AS Horror#373, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[15], null), 0.0) AS Music#374, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[16], null), 0.0) AS Musical#375, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[17], null), 0.0) AS Mystery#376, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[18], null), 0.0) AS News#377, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[19], null), 0.0) AS Reality-TV#378, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[20], null), 0.0) AS Romance#379, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[21], null), 0.0) AS Sci-Fi#380, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[22], null), 0.0) AS Short#381, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[23], null), 0.0) AS Sport#382, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[24], null), 0.0) AS Talk-Show#383, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[25], null), 0.0) AS Thriller#384, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[26], null), 0.0) AS War#385, coalesce(nanvl(pivotfirst(genres#183, round(avg(CAST(`averageRating` AS DOUBLE)), 0)#214, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, ... 8 more fields)#271[27], null), 0.0) AS Western#386]

21/11/05 20:56:42 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [16]:
%%time
df_final.limit(5).toPandas()

CPU times: user 46.9 ms, sys: 13.5 ms, total: 60.4 ms
Wall time: 10.5 s

,titleType,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,Tvepisode,7.0,7.0,7.0,7.0,7.0,7.0,8.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,8.0,8.0,8.0
1,Video,6.0,7.0,6.0,7.0,7.0,6.0,6.0,7.0,6.0,...,6.0,7.0,6.0,6.0,7.0,7.0,7.0,5.0,7.0,6.0
2,Videogame,7.0,3.0,7.0,7.0,8.0,7.0,7.0,7.0,7.0,...,0.0,0.0,7.0,7.0,0.0,7.0,0.0,7.0,7.0,6.0
3,Tvminiseries,7.0,5.0,7.0,7.0,7.0,7.0,7.0,8.0,7.0,...,7.0,6.0,7.0,7.0,7.0,7.0,6.0,7.0,7.0,7.0
4,Tvmovie,6.0,0.0,6.0,7.0,7.0,6.0,6.0,7.0,7.0,...,7.0,6.0,6.0,6.0,0.0,7.0,9.0,6.0,7.0,6.0

In [17]:
df_final.cache()
df_final.count()

10

In [18]:
%%time
df_final.limit(5).toPandas()

CPU times: user 34.3 ms, sys: 2.97 ms, total: 37.3 ms
Wall time: 462 ms

,titleType,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,Tvepisode,7.0,7.0,7.0,7.0,7.0,7.0,8.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,8.0,8.0,8.0
1,Video,6.0,7.0,6.0,7.0,7.0,6.0,6.0,7.0,6.0,...,6.0,7.0,6.0,6.0,7.0,7.0,7.0,5.0,7.0,6.0
2,Videogame,7.0,3.0,7.0,7.0,8.0,7.0,7.0,7.0,7.0,...,0.0,0.0,7.0,7.0,0.0,7.0,0.0,7.0,7.0,6.0
3,Tvminiseries,7.0,5.0,7.0,7.0,7.0,7.0,7.0,8.0,7.0,...,7.0,6.0,7.0,7.0,7.0,7.0,6.0,7.0,7.0,7.0
4,Tvmovie,6.0,0.0,6.0,7.0,7.0,6.0,6.0,7.0,7.0,...,7.0,6.0,6.0,6.0,0.0,7.0,9.0,6.0,7.0,6.0

## Retirando os dados de memoria

In [19]:
df_final.unpersist()

DataFrame[titleType: string, Action: double, Adult: double, Adventure: double, Animation: double, Biography: double, Comedy: double, Crime: double, Documentary: double, Drama: double, Family: double, Fantasy: double, Film-Noir: double, Game-Show: double, History: double, Horror: double, Music: double, Musical: double, Mystery: double, News: double, Reality-TV: double, Romance: double, Sci-Fi: double, Short: double, Sport: double, Talk-Show: double, Thriller: double, War: double, Western: double]

In [20]:
spark

## Estrategias de particionamento

### Bucketing

In [21]:
df_titles.write.format('parquet').bucketBy(5, 'tconst').saveAsTable('title_basics')

21/11/05 21:19:30 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
21/11/05 21:19:30 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
21/11/05 21:19:34 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
21/11/05 21:19:34 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore geovanileitao@127.0.1.1
21/11/05 21:19:34 WARN ObjectStore: Failed to get database default, returning NoSuchObjectException
21/11/05 21:19:48 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:19:55 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:19:55 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:19:55 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:19:59 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:19:59 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:19:59 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:02 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:02 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:02 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:02 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:05 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:06 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:06 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:06 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:20:09 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
21/11/05 21:20:10 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
21/11/05 21:20:10 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
21/11/05 21:20:10 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

In [22]:
df_ratings.write.format('parquet').bucketBy(5, 'tconst').saveAsTable('title_ratings')

In [23]:
df_titles_bucket = spark.sql('select * from title_basics')

In [24]:
df_ratings_bucket = spark.sql('select * from title_ratings')

In [25]:
%%time 
df_titles.join(df_ratings, 'tconst').count()

CPU times: user 8.35 ms, sys: 833 s, total: 9.18 ms
Wall time: 5.1 s

1182639

In [27]:
%%time 
df_titles_bucket.join(df_ratings_bucket, 'tconst').count()

CPU times: user 4.21 ms, sys: 546 s, total: 4.76 ms
Wall time: 2.9 s

1182639

### Particionando por colunas

In [30]:
df_titles.filter('titleType = "short"').explain('formatted')

== Physical Plan ==
* Filter (2)
+- Scan csv  (1)


(1) Scan csv
Output [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_basics.tsv]
PushedFilters: [IsNotNull(titleType), EqualTo(titleType,short)]
ReadSchema: struct<tconst:string,titleType:string,primaryTitle:string,originalTitle:string,isAdult:string,startYear:string,endYear:string,runtimeMinutes:string,genres:string>

(2) Filter [codegen id : 1]
Input [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Condition : (isnotnull(titleType#17) AND (titleType#17 = short))

In [35]:
(
    df_titles
    .write
    .format('parquet')
    .partitionBy('titleType')
    .save('../base/imbd/')
)

21/11/05 21:35:05 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:05 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:05 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:06 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:06 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:06 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:07 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:07 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:09 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:15 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:16 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:16 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:16 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:16 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:16 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:16 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:17 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:17 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:17 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:35:18 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

In [36]:
df_titles.filter('titleType = "short"').explain('formatted')

== Physical Plan ==
* Filter (2)
+- Scan csv  (1)


(1) Scan csv
Output [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_basics.tsv]
PushedFilters: [IsNotNull(titleType), EqualTo(titleType,short)]
ReadSchema: struct<tconst:string,titleType:string,primaryTitle:string,originalTitle:string,isAdult:string,startYear:string,endYear:string,runtimeMinutes:string,genres:string>

(2) Filter [codegen id : 1]
Input [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Condition : (isnotnull(titleType#17) AND (titleType#17 = short))

In [37]:
df_further_partitions = spark.read.parquet('../base/imbd/')

In [38]:
(
    df_further_partitions
    .filter('titleType = "short"')
    .filter('genres = "Action"')
    .explain('formatted')
)

== Physical Plan ==
* Filter (3)
+- * ColumnarToRow (2)
   +- Scan parquet  (1)


(1) Scan parquet
Output [9]: [tconst#52666, primaryTitle#52667, originalTitle#52668, isAdult#52669, startYear#52670, endYear#52671, runtimeMinutes#52672, genres#52673, titleType#52674]
Batched: true
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/base/imbd]
PartitionFilters: [isnotnull(titleType#52674), (titleType#52674 = short)]
PushedFilters: [IsNotNull(genres), EqualTo(genres,Action)]
ReadSchema: struct<tconst:string,primaryTitle:string,originalTitle:string,isAdult:string,startYear:string,endYear:string,runtimeMinutes:string,genres:string>

(2) ColumnarToRow [codegen id : 1]
Input [9]: [tconst#52666, primaryTitle#52667, originalTitle#52668, isAdult#52669, startYear#52670, endYear#52671, runtimeMinutes#52672, genres#52673, titleType#52674]

(3) Filter [codegen id : 1]
Input [9]: [tconst#52666, primaryTitle#52667, originalTitle#52668, isAdult#52669, startYear#52670, endYear#52671, runtimeMinutes#52672, genres#52673, titleType#52674]
Condition : (isnotnull(genres#52673) AND (genres#52673 = Action))

## Reparticionando Dataframes

In [39]:
df_titles.limit(5).toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [40]:
df_titles.rdd.getNumPartitions()

8

In [41]:
df_titles.repartition(50).rdd.getNumPartitions()

50

In [ ]:
df_titles.coalesce()

In [42]:
(
    df_titles
    .repartition(50)
    .write
    .parquet('../base/imbd/df_titles_repartioned')
)

21/11/05 21:51:41 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:43 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:45 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:45 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:47 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:47 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:47 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:48 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:49 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:49 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:49 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:49 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:51 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:51 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:51 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:53 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
21/11/05 21:51:53 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

In [43]:
(
    df_titles
    .coalesce(5)
    .write
    .parquet('../base/imbd/df_titles_coalesced')
)

## escolhendo o melhor tipo de join

In [45]:
df_titles.join(df_ratings.hint('merge'), 'tconst').explain('formatted')

== Physical Plan ==
* Project (10)
+- * SortMergeJoin Inner (9)
   :- * Sort (4)
   :  +- Exchange (3)
   :     +- * Filter (2)
   :        +- Scan csv  (1)
   +- * Sort (8)
      +- Exchange (7)
         +- * Filter (6)
            +- Scan csv  (5)


(1) Scan csv
Output [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_basics.tsv]
PushedFilters: [IsNotNull(tconst)]
ReadSchema: struct<tconst:string,titleType:string,primaryTitle:string,originalTitle:string,isAdult:string,startYear:string,endYear:string,runtimeMinutes:string,genres:string>

(2) Filter [codegen id : 1]
Input [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Condition : isnotnull(tconst#16)

(3) Exchange
Input [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Arguments: hashpartitioning(tconst#16, 200), ENSURE_REQUIREMENTS, [id=#966]

(4) Sort [codegen id : 2]
Input [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Arguments: [tconst#16 ASC NULLS FIRST], false, 0

(5) Scan csv
Output [3]: [tconst#59, averageRating#60, numVotes#61]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_ratings.tsv]
PushedFilters: [IsNotNull(tconst)]
ReadSchema: struct<tconst:string,averageRating:string,numVotes:string>

(6) Filter [codegen id : 3]
Input [3]: [tconst#59, averageRating#60, numVotes#61]
Condition : isnotnull(tconst#59)

(7) Exchange
Input [3]: [tconst#59, averageRating#60, numVotes#61]
Arguments: hashpartitioning(tconst#59, 200), ENSURE_REQUIREMENTS, [id=#974]

(8) Sort [codegen id : 4]
Input [3]: [tconst#59, averageRating#60, numVotes#61]
Arguments: [tconst#59 ASC NULLS FIRST], false, 0

(9) SortMergeJoin [codegen id : 5]
Left keys [1]: [tconst#16]
Right keys [1]: [tconst#59]
Join condition: None

(10) Project [codegen id : 5]
Output [11]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24, averageRating#60, numVotes#61]
Input [12]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24, tconst#59, averageRating#60, numVotes#61]

In [46]:
df_titles.join(df_ratings.hint('shuffle_hash'), 'tconst').explain('formatted')

== Physical Plan ==
* Project (8)
+- * ShuffledHashJoin Inner BuildRight (7)
   :- Exchange (3)
   :  +- * Filter (2)
   :     +- Scan csv  (1)
   +- Exchange (6)
      +- * Filter (5)
         +- Scan csv  (4)


(1) Scan csv
Output [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_basics.tsv]
PushedFilters: [IsNotNull(tconst)]
ReadSchema: struct<tconst:string,titleType:string,primaryTitle:string,originalTitle:string,isAdult:string,startYear:string,endYear:string,runtimeMinutes:string,genres:string>

(2) Filter [codegen id : 1]
Input [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Condition : isnotnull(tconst#16)

(3) Exchange
Input [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Arguments: hashpartitioning(tconst#16, 200), ENSURE_REQUIREMENTS, [id=#1015]

(4) Scan csv
Output [3]: [tconst#59, averageRating#60, numVotes#61]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_ratings.tsv]
PushedFilters: [IsNotNull(tconst)]
ReadSchema: struct<tconst:string,averageRating:string,numVotes:string>

(5) Filter [codegen id : 2]
Input [3]: [tconst#59, averageRating#60, numVotes#61]
Condition : isnotnull(tconst#59)

(6) Exchange
Input [3]: [tconst#59, averageRating#60, numVotes#61]
Arguments: hashpartitioning(tconst#59, 200), ENSURE_REQUIREMENTS, [id=#1020]

(7) ShuffledHashJoin [codegen id : 3]
Left keys [1]: [tconst#16]
Right keys [1]: [tconst#59]
Join condition: None

(8) Project [codegen id : 3]
Output [11]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24, averageRating#60, numVotes#61]
Input [12]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24, tconst#59, averageRating#60, numVotes#61]

In [47]:
df_titles.join(df_ratings.hint('broadcast'), 'tconst').explain('formatted')

== Physical Plan ==
* Project (7)
+- * BroadcastHashJoin Inner BuildRight (6)
   :- * Filter (2)
   :  +- Scan csv  (1)
   +- BroadcastExchange (5)
      +- * Filter (4)
         +- Scan csv  (3)


(1) Scan csv
Output [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_basics.tsv]
PushedFilters: [IsNotNull(tconst)]
ReadSchema: struct<tconst:string,titleType:string,primaryTitle:string,originalTitle:string,isAdult:string,startYear:string,endYear:string,runtimeMinutes:string,genres:string>

(2) Filter [codegen id : 2]
Input [9]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24]
Condition : isnotnull(tconst#16)

(3) Scan csv
Output [3]: [tconst#59, averageRating#60, numVotes#61]
Batched: false
Location: InMemoryFileIndex [file:/home/geovanileitao/Documentos/bootcamp-edc-igti-mod3/base/title_ratings.tsv]
PushedFilters: [IsNotNull(tconst)]
ReadSchema: struct<tconst:string,averageRating:string,numVotes:string>

(4) Filter [codegen id : 1]
Input [3]: [tconst#59, averageRating#60, numVotes#61]
Condition : isnotnull(tconst#59)

(5) BroadcastExchange
Input [3]: [tconst#59, averageRating#60, numVotes#61]
Arguments: HashedRelationBroadcastMode(List(input[0, string, false]),false), [id=#1058]

(6) BroadcastHashJoin [codegen id : 2]
Left keys [1]: [tconst#16]
Right keys [1]: [tconst#59]
Join condition: None

(7) Project [codegen id : 2]
Output [11]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24, averageRating#60, numVotes#61]
Input [12]: [tconst#16, titleType#17, primaryTitle#18, originalTitle#19, isAdult#20, startYear#21, endYear#22, runtimeMinutes#23, genres#24, tconst#59, averageRating#60, numVotes#61]